{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}


    
    {% for ligneProduit in produits %}
    <img src='{{ ligneProduit.photo.URLPhoto }}' alt='' class='img-panier'/>
        
        {{ ligneProduit.produit.libelle }}
        {{ ligneProduit.produit.description }}
        {{ ligneProduit.qte }}
        {{ ligneProduit.prixTTC }}

    {% endfor %}
    total = {{ total }}
    <a href='{{ path('app_commande') }}'><button>Valider votre panier</button></a>
</div>
{% endblock %}
