{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}
    <div class="container responsive-panier mt-5">
        <h2>Mon Panier</h2>

        {% for ligneProduit in produits %}
            <div class="row m-5">
                <div class="col-md-5  ml-5">
                    <img src="{{ ligneProduit.photo.URLPhoto }}" alt="{{ ligneProduit.produit.libelle }}" class="img-panier w-50">
                </div>
                <div class="col-md-6 d-flex flex-column p-3 ">
                    <h5>{{ ligneProduit.produit.libelle }}</h5>
                    <p>{{ ligneProduit.produit.description }}</p>
                    <p>Quantité: {{ ligneProduit.qte }}</p>
                    {% if ligneProduit.qte > 1 %}
                        <p>Prix TTC: {{ ligneProduit.prixTTC * ligneProduit.qte }}€</p>
                    {% else %}
                        <p>Prix TTC: {{ ligneProduit.prixTTC }}€</p>
                    {% endif %}

                    <div class="d-flex  align-items-center">
                        {{ include('panier/remove_to_panier.html.twig', {'id': ligneProduit.produit.id}) }}
                        
                        <div class="d-flex align-items-center">
                        <span class="mx-2">{{ ligneProduit.qte }}</span>
                            {{ include('panier/addqte.html.twig', {'id': ligneProduit.produit.id}) }}
                            
                            {{ include('panier/delete.html.twig', { 'id': ligneProduit.id })}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class=" d-flex justify-content-end">
            <strong class="size">Total: {{ total }}€</strong>
        </div>

        <div class="my-4  d-flex justify-content-end">
            <a href="{{ path('app_commande') }}" class="btn button-nl p-2 mb-5">Valider votre panier</a>
        </div>
    </div>
{% endblock %}

