{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 border p-4"> <!-- Ajout de la classe "border" et ajustement des marges -->
                <h1 class="text-center mb-4">{{ title }}</h1>

                <form method="post" class="needs-validation" novalidate>
                    {{ form_start(form) }}
                    
                    <div class="mb-5">
                        <label for="{{ form.Password.vars.id }}">Entrez votre nouveau mot de passe</label> <!-- Utilisation de l'ID pour le label -->
                        {{ form_widget(form.Password, {'attr': {'class': 'm-2', 'placeholder': 'Entrez votre nouveau mot de passe'}}) }}
                        {{ form_errors(form.Password) }}
                    </div>

                    <button type="submit" class="btn button-nl p-2 btn-block">Changer le mot de passe</button>
                    
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
