
<h2>Détails du Produit</h2>

<div class="produit-details">
    <h3>{{ produit.libelle }}</h3>
    <p>Description: {{ produit.description }}</p>
    <p>Prix HT: {{ produit.prix_ht }} €</p>
    <p>TVA: {{ produit.TVA.taux }}%</p>

    {% if produit.promotion is not null %}
        <div class="promotion-details">
            <h4>Promotion: {{ produit.promotion.libelle }}</h4>
            <p>Taux de promotion: {{ produit.promotion.tauxPromotion }}%</p>
            <p>Code de promotion: {{ produit.promotion.codePromotion }}</p>
        </div>
    {% else %}
        <p>Pas de promotion actuellement</p>
    {% endif %}

    <h4>Catégories :</h4>
    <ul>
        {% for categorie in produit.categories %}
            <li>{{ categorie.nom }}</li>
        {% endfor %}
    </ul>

    <h4>Photos :</h4>
    
</div>

<a href="{{ path('app_produit') }}">Retour à la liste des produits</a>

