{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<section class="m-5">
     <h2>{{ title }} : <span style="color:var(--main);">{{ produit.libelle}}</span> </h2>
      {% for message in app.flashes('nice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    <div class="row mt-5">
        <!-- Image à gauche -->
               

        <div class="col-md-6">
            <div class="d-flex justify-content-center flex-wrap"> 
                
                
                {% for item in photos %}
                    <img src='{{ item.URLPhoto }}' alt='test' class='banner-item img-product position-relative p-2 m-2'/>
                {% endfor %} 
                {% if produit.Promotion is not empty %}
                <div class="flag-percent-product">
                    <span>{{ produit.Promotion.libelle }}</span>
                </div>
                {% endif %}
            </div>
        </div>
        
        <!-- Informations à droite -->
        <div class="col-md-6 d-flex flex-column responsive-description justify-content-center">
            <div class="d-flex flex-column justify-content-center mb-5">
                <div class="mb-3">
                    <strong>Nom :</strong> {{ produit.libelle }}
                </div>
                <div class="mb-3">
                    <strong>Description :</strong> {{ produit.description }}
                </div>
                {% if produit.Promotion is empty %}
                <div class="mb-3">
                    <strong>Prix :</strong> {{ prixTTC }} €TTC
                </div>
                {% else %}
                <div class="mb-3 ">
                    <strong>Ancien Prix :</strong> {{ oldPrice }} €TTC
                </div>
                <div class="mb-3 ">
                    <strong> Nouveaux Prix :</strong> {{ prixTTC }} €TTC
                </div>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('produit/_addToPanier.html.twig', { 'id': produit.id })}}
                {% else %}
                    <div>
                        <a href='{{ path('app_register') }}' class="">Veuillez créer un compte ou vous connecter pour ajouter un produit à votre panier</a>
                    </div>
                {% endif %}
                <p style="color:green;">En stock</p>
                <li class="nav-item"> livraison gratuite</li>
                <li class="nav-item"> garantie 3 ans</li>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
