{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {% for photo in photos %}
        <img src='{{ photo.URLPhoto }}' alt='test' class='banner-item'/>
    {% endfor %} 
    <tr>
         <td>{{ produit.libelle }}</td>
         <td>{{ produit.description }}</td>
         <td>{{ prixTTC }}</td>
         <td><td>{{ include('produit/_addToPanier.html.twig', { 'id': produit.id })}}</td></td> 
        </tr>
{% endblock %}