{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {% for item in photos %}
        <img src='{{ item.URLPhoto }}' alt='test' class='banner-item'/>
    {% endfor %} 
    <tr>
         <td>{{ produit.libelle }}</td>
         <td>{{ produit.description }}</td>
         <td>{{ prixTTC }}</td>
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <td><td>{{ include('produit/_addToPanier.html.twig', { 'id': produit.id })}}</td></td> 
         {% else %}
         <a href='{{ path('app_register') }}'<p>Veuillez créer un compte ou vous connecter pour ajouter un produit à votre panier</p>
         {% endif %}
        </tr>
{% endblock %}