{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
        {% for photo in photos %}
    <img src='{{ photo.URLPhoto }}' alt='test' class='banner-item'/>
    {% endfor %} 
    <p>
         {{ produit.id }}-{{ produit.libelle }}-{{ produit.description }}-{{ prixTTC }} 
        </p>
{% endblock %}