{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
        <p>
            {{ produit.id }}-{{ produit.libelle }}-{{ produit.description }}-{{ produit.prixHt }}
            
        </p>
        
    <form action="{{ path("app_panier") }}" method="post">
        <input type="submit" value="Ajouter au panier">
    </form>
{% endblock %}