{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    <table>
        <tr>
            <td>
            Nom
            {% if ( trinom == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&trinom=asc&triprenom={{ triprenom }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&trinom=desc&triprenom={{ triprenom }}"><</a>
            {% endif %}
            </td>
            <td>
            Prénom
            {% if ( triprenom == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&triprenom=asc&trinom={{ trinom }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&triprenom=desc&trinom={{ trinom }}"><</a>
            {% endif %}
            </td>
        </tr>
    {% for item in users %}
        <tr>
            <td>{{ item.nom }}</td>
            <td>{{ item.prenom }}</td>
            <td><a href="{{ path('app_user_show_admin', { 'id': item.id })}}">Voir</a></td>
            <td>{{ include('admin/user_delete.html.twig', { 'id': item.id })}}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </table>
    <form>
        <input type='text' name='nom' placeholder='recherchez par le nom' value='{{ nom }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
{% endblock %}