{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    <table>
        <tr>
            <td>
            Nom
            {% if ( trinom == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&trinom=asc&triprenom={{ triprenom }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&trinom=desc&triprenom={{ triprenom }}"><</a>
            {% endif %}
            </td>
            <td>
            Prénom
            {% if ( triprenom == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&triprenom=asc&trinom={{ trinom }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?nom={{ nom }}&triprenom=desc&trinom={{ trinom }}"><</a>
            {% endif %}
            </td>
        </tr>
        <div class="d-flex flex-wrap">
    {% for item in users %}
            <div class="card border p-3 bg-light d-flex flex-wrap align-items-center m-2 justify-content-center" style="width: 15rem; height: 15rem;">
                <div class="card-body d-flex align-items-center">
                    <a href ="{{ path('app_show_admin', { 'id': item.id })}}" class="card-text text-decoration-none">
                        <h5 class="card-title text-center">{{ item.nom }} {{ item.prenom }}</h5>
                        
                </div>
                    </a>
                    <a href="{{ path('app_user_show_admin', { 'id': item.id })}}">Voir</a>
                    {{ include('admin/user_delete.html.twig', { 'id': item.id })}} 
                      </div>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </table>
    <form>
        <input type='text' name='nom' placeholder='recherchez par le nom' value='{{ nom }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
{% endblock %}