{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }} {{ commande.id }}</h2>
<div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body ">
                            <strong>Commande n°</strong> {{ commande.id }} <br>
                            <strong>Client n°</strong> {{ commande.users.id }}, {{ commande.users.nom }} {{ commande.users.prenom }} <br>
                            <strong>Panier n°</strong>  {{ commande.panier.id }}<br>
                            <strong>Date de la commande:</strong>  {{ commande.datecommande?commande.datecommande|date('Y-m-d') : ''  }}<br>
                            <strong>Total de la commande :</strong>  {{ commande.prixttccommande }}€ TTC<br>
                            <strong>Addresse de livraison :</strong>  {{ commande.estLivre.numVoie }}  {{ commande.estLivre.rue }},  {{ commande.estLivre.ville.nom }}<br>
                            <strong>Addresse de facturation :</strong>  {{ commande.estFacture.numVoie}} {{ commande.estFacture.rue}}, {{ commande.estFacture.ville.nom}}<br>
                            <strong>Moyen de paiement :</strong>  {{ commande.paiement.libelle }}<br>
                            <strong>Mode de livraison :</strong>  {{ commande.livraison.libelle }}<br>
                            <strong>Etat de la commande :</strong>  {{ commande.etat.libelle }}<br>
                        </div>
                    </div>
                </div>
    </div>
    <a href="{{ path('app_commande_list_admin') }}" class="btn btn-secondary">Retour</a>
{% endblock %}