{% extends 'base.html.twig' %}

{% block main %}
Bienvenue
<br>
<br>
<br>
<br>
<div class="row">
    <div class="d-flex justify-content-center gap-5">
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_categorie_list_admin') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des catégories</h5>
             </div>
         </div></a>
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_produit_list_admin') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des produits</h5>
             </div>
         </div></a>
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_promotion_list') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des promotions</h5>
             </div>
         </div></a> 
    </div>
    <div class="d-flex justify-content-center gap-5">
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_commande_list') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des commandes</h5>
             </div>
         </div></a>
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_list_admin') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des administrateurs</h5>
             </div></a>
         </div>
         <div class="card border p-3 bg-light mb-4" style="width: 15rem; height: 15rem;">
             <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_user_list_admin') }}" class="card-text text-decoration-none">
                <h5 class="card-title text-center">Gestion des clients</h5>
             </div></a>
         </div> 
    </div>
    </div>
    
{% endblock %}
{% block footer %}
{% endblock %}