{% extends 'base.html.twig' %}

{% block main %}
Bienvenue

 <a href='{{ path('app_admin_categorie')}}'>Gestion des catégories</a>
 <a href='{{ path('app_admin_produit')}}'>Gestion des produits</a>
 <a href='{{ path('app_admin_promotion')}}'>Gestion des promotions</a>
 <a href='{{ path('app_admin_vente')}}'>Gestion des ventes</a>
 <a href='{{ path('app_admin_admin')}}'>Gestion des administrateurs</a>
 <a href='{{ path('app_admin_client')}}'>Gestion des clients</a>
{% endblock %}
{% block footer %}
{% endblock %}