{% extends 'base.html.twig' %}

{% block main %}
Bienvenue

 <a href='{{ path('app_categorie_list_admin') }}'>Gestion des catégories</a>
 <a href='{{ path('app_produit_list_admin') }}'>Gestion des produits</a>
 <a href='{{ path('app_promotion_list') }}'>Gestion des promotions</a>
 <a href='{{ path('app_list_admin') }}'>Gestion des administrateurs</a>
 <a href='{{ path('app_user_list_admin') }}'>Gestion des utilisateurs</a>
 
{% endblock %}
{% block footer %}
{% endblock %}