{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <h3><a href="{{ path('app_new_admin') }}">Créer</a></h3>
    {% endif %}

            <td>
            Nom
            {% if ( trinom == 'desc') %}
                <a href="{{ path('app_list_admin') }}?nom={{ nom }}&trinom=asc&triprenom={{ triprenom }}">></a>
            {% else %}
                <a href="{{ path('app_list_admin') }}?nom={{ nom }}&trinom=desc&triprenom={{ triprenom }}"><</a>
            {% endif %}
            </td>
            <td>
            Prénom
            {% if ( triprenom == 'desc') %}
                <a href="{{ path('app_list_admin') }}?nom={{ nom }}&triprenom=asc&trinom={{ trinom }}">></a>
            {% else %}
                <a href="{{ path('app_list_admin') }}?nom={{ nom }}&triprenom=desc&trinom={{ trinom }}"><</a>
            {% endif %}
            <form>
        <input type='text' name='nom' placeholder='recherchez par le nom' value='{{ nom }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
            <div class="row">
    <div class="d-flex justify-content-center gap-5">
    {% for item in administrateur %}
        <tr>
            <div class="card border p-3 bg-light d-flex flex-wrap align-items-center m-2 justify-content-center" style="width: 15rem; height: 15rem;">
                <div class="card-body d-flex align-items-center">
                    <a href ="{{ path('app_show_admin', { 'id': item.id })}}" class="card-text text-decoration-none">
                        <h5 class="card-title text-center">{{ item.nom }} {{ item.prenom }}</h5>
                        <p class="card-text text-center">{{ item.username }}</p>
                </div>
                    </a>
                    <a href="{{ path('app_update_admin', { 'id': item.id })}}">Mettre à jour</a>
                    {{ include('admin/admin_delete.html.twig', { 'id': item.id })}} 
                      </div>
        </tr> 
        
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
        
    {% endfor %}
   
    </div>
    </div>
  <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">Retour</a>
 
{% endblock %}
