{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
   <section class="section-info-user">
    <div class="container  mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8"> <!-- Utilisez col-md-8 pour une largeur maximale de 600px sur les écrans moyens et plus petits -->
            
                <h2 class="text-center mb-4">{{ title }}</h2>
                {{ form_start(form, {'attr': {'class': 'mb-4 p-4 d-flex flex-column form-user align-items-center justify-content-center'}}) }}
                    {{ form_label(form.libelle, 'Libellé', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.libelle, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.prix_ht, 'Prix HT', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.prix_ht, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.TVA, 'Taux de TVA', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.TVA, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.promotion, 'Promotion', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.promotion, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.categorie, 'Catégorie', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.categorie, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.upload_file, 'Choisissez un fichier', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.upload_file, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    <div class="text-center my-3"> <!-- Centrer le bouton d'envoi -->
                        <input type='submit' name='créer' class="button-nl">
                    </div>

                {{ form_end(form) }}
                 <a href="{{ path('app_produit_list_admin') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}