{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
        <p>
            <br>{{ administrateur.id }}</br>
            <br>{{ administrateur.username }}</br>
            <br>{{ administrateur.nom }}</br>
            <br>{{ administrateur.prenom }}</br>
            <br>{{ administrateur.email }}</br>
        </p>
{% endblock %}