{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
        <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <strong>ID:</strong> {{ administrateur.id }} <br>
                            <strong>Username:</strong> {{ administrateur.username }} <br>
                            <strong>Nom:</strong> {{ administrateur.nom }} <br>
                            <strong>Prénom:</strong> {{ administrateur.prenom }} <br>
                            <strong>Addresse mail:</strong> {{ administrateur.email }} <br>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}