{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
        <p>
            <br>ID :{{ administrateur.id }}</br>
            <br>Username :{{ administrateur.username }}</br>
            <br>Nom: {{ administrateur.nom }}</br>
            <br>Prénom: {{ administrateur.prenom }}</br>
            <br>Addresse mail: {{ administrateur.email }}</br>
        </p>
{% endblock %}