{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}   
{% block main %}
<div class="row">
<div class ="container-fluid d-flex ">
    <div class="title col-12 col-md-6 d-flex flex-column align-items-center justify-content-center mb-5">
        <h1 class="mr-5">Les Maestros de la Symfony</h1>
        <h3 class="ml-5">la musique à portée de clic</h3>
    </div>
    <div class="img-block col-12 col-md-6">
    <img src= "{{ asset('images/mecquidance.png') }}" alt="image acceuil" >
    </div>
</div>
</div>
<div id="carouselCategorie" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('upload/photo_categorie/catevent.png') }}" class="d-block h-100" alt="Instruments à vents">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/catecordes.png') }}" class="d-block h-75" alt="Instruments à cordes">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/catepercu.png') }}" class="d-block h-75" alt="Instruments à percussions">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/cateaccessoires.png') }}" class="d-block h-75" alt="Accessoires">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCategorie" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précedente</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCategorie" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivante</span>
  </button>
</div>

    <div class="row mt-5">
        {% for productData in data %}
            <div class="col-12 col-md-3 mx-auto mb-4 d-flex align-items-stretch position-relative">
                <a href="{{ path('app_show_produit', { 'id': productData.produit.id })}}" class="d-block bg-light rounded p-3 text-center text-decoration-none flex-fill">
                    <div class="bg-warning-subtle p-2 mb-3 rounded-top text-center">
                        Promotions
                    </div>
                    {% for photo in productData.photos %}
                        <img src='{{ photo.URLPhoto }}' alt='{{ productData.produit.libelle }}' class='w-50 m-3 border border-2 border-warning-subtle'/>
                    {% endfor %} 
                    <p>{{ productData.produit.libelle }}</p>
                    <div class="d-flex justify-content-center">
                        <div class="position-absolute top-50 start-0">
                            <span class="bg-primary text-white p-1 rounded">{{ productData.produit.Promotion.libelle }}</span>
                        </div>
                        <p>{{ productData.oldPrice }}€</p>
                        <p>{{ productData.prixTTC }}€</p>
                    </div>
                </a>
            </div>
        {% else %}
        <div class="d-flex w-100 text-align-center justify-content-center mt-5">
            <p class="text-align-center"> Aucun produit en promotion </p>
        </div>
        {% endfor %}
    </div>

 


{% endblock %}
