{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}   

{% block main %}

 <div id="carouselCategorie" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('upload/photo_categorie/catevent.png') }}" class="d-block h-100" alt="Instruments à vents">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/catecordes.png') }}" class="d-block h-75" alt="Instruments à cordes">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/catepercu.png') }}" class="d-block h-75" alt="Instruments à percussions">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('upload/photo_categorie/cateaccessoires.png') }}" class="d-block h-75" alt="Accessoires">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCategorie" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précedente</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCategorie" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivante</span>
  </button>
</div>

   <div class ="promotions">
   {% for Produit in Promotion %}
   <p> {{ produit.libelle}} </p>
   {% endfor %}
   </div> 

{% endblock %}
