{% extends 'base.html.twig' %}



{% block main %}
{% block title %}{{ title }}{% endblock %}
    {% if error %}
        <div class='error'>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}
        </div>
    {% endif %}
    <form action={{ path('app_login') }} method='post'>
        <label for='username'>Email</label>
        <input type='text' id='username' name='_username' value="{{ username }}">

        <label for='password'>Mot de passe</label>
        <input type='password' id='password' name='_password'>

        {# redirection vers une route valide #}
        <input type='hidden' name='_target_path' value='/index'>
        <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

        <button type='submit'>login</button>

    </form>
{% endblock %}

