{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if app.user %}
            <li class="breadcrumb-item"><a href="{{ path('app_panier') }}">Votre panier</a></li>
            <li class="breadcrumb-item active" aria-current="page">Finalisation de la commande</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
        {% endif %}
    </ol>
</nav>
<div class="container mt-5">
<h2> Finalisez votre commande </h2>
    
    <div class="row justify-content-center my-5">
        <div class="col-md-8 form-commande">
            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
                
                <div class="mb-4 select-content">
                    <label for="{{ form.Livraison.vars.id }}">Livraison</label>
                    {{ form_widget(form.Livraison, {'attr': {'class': 'form-select'}}) }}
                </div>
                
                <div class="mb-4 select-content">
                    <label for="{{ form.Paiement.vars.id }}">Paiement</label>
                    {{ form_widget(form.Paiement, {'attr': {'class': 'form-select'}}) }}
                </div>
                
                <div class="mb-4 select-content">
                    <label for="{{ form.est_facture.vars.id }}">Adresse de facturation</label>
                    {{ form_widget(form.est_facture, {'attr': {'class': 'form-select'}}) }}
                </div>
                
                <div class="mb-4 select-content">
                    <label for="{{ form.est_livre.vars.id }}">Adresse de livraison</label>
                    {{ form_widget(form.est_livre, {'attr': {'class': 'form-select'}}) }}
                </div>
                <div class="mb-4 select-content">
                    <a href="{{ path('app_create_adresse_commande') }}" class="btn btn-secondary">Ajouter une adresse de livraison</a>
                </div>
                <div class="mb-4 total-price">
                    <label for="prix-ttc">Total de la commande</label> 
                    <input type="text" class="form-control" id="prix-ttc" name="prix-ttc" value="{{ totalttc }} € TTC" disabled>
                </div>
                
                
                
                <div class="mb-4 d-flex justify-content-center">
                    <input type="submit" class="btn button-nl p-2" name="créer" value="Valider votre commande">
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
