{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <h3><a href="{{ path('app_new_promotion') }}">Ajouter une promotion</a></h3>
    {% endif %}

    {% for item in promotion %}
        <tr>
             
            <td>ID: {{ item.id }}</td>
            <td>Libellé :{{ item.libelle }}</td>
            <td>Taux de Promotion :{{ item.tauxPromotion }}%</td>
            <td>Code de Promotion :{{ item.codePromotion }}</td>
            <td><a href="{{ path('app_promotion_show', { 'id': item.id })}}">Voir</a></td>
            <td><a href="{{ path('app_update_promotion', { 'id': item.id })}}">Mettre à jour</a></td>
            <td>{{ include('promotion/delete.html.twig', { 'id': item.id })}}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}

    <form>
        <input type='text' name='nom' placeholder='recherchez par libelle' value='{{ libelle }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
{% endblock %}