{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>

        {% if is_granted('ROLE_ADMIN') %}
            <h3><a href="{{ path('app_new_promotion') }}" class="btn btn-secondary">Ajouter une promotion</a></h3>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Taux de Promotion</th>
                        <th>Code de Promotion</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in promotion %}
                        <tr>
                            <td>ID: {{ item.id }}</td>
                            <td>{{ item.libelle }}</td>
                            <td>{{ item.tauxPromotion }}</td>
                            <td>{{ item.codePromotion }}</td>
                            <td>
                                <a href="{{ path('app_promotion_show', { 'id': item.id }) }}" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="{{ path('app_update_promotion', { 'id': item.id }) }}" class="btn btn-secondary btn-sm">Mettre à jour</a>
                                {{ include('promotion/delete.html.twig', { 'id': item.id })}}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form class="mt-4">
            <div class="form-group">
                <label for="searchLibelle">Recherchez par libellé</label>
                <input type='text' id="searchLibelle" class="form-control" name='nom' placeholder='Recherchez par libellé' value='{{ libelle }}'>
            </div>
            <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">Retour</a>
            <button type="submit" class="btn btn-secondary">Rechercher</button>
        </form>
    </div>
{% endblock %}
