{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
  <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body ">
                            <strong>ID:</strong> {{ promotion.id }} <br>
                            <strong>Libellé:</strong> {{ promotion.libelle }} <br>
                            <strong>Taux de promotion:</strong>  {{ promotion.tauxpromotion }}<br>
                            <strong>Code promotion:</strong>  {{ promotion.codepromotion }}<br>
                        </div>
                    </div>
                </div>
    </div>
<a href="{{ path('app_promotion_list') }}" class="btn btn-secondary">Retour</a>
{% endblock %}