

{% extends 'base.html.twig' %}

{% block main %}
    
    <div class="container-fluid p-0">
        <div class='banner p-0'>
            {% for photo in photos %}
                <img src="{{ photo.URLPhoto }}"  alt='test' class="h-100 d-inline-block p-0" />
            {% endfor %}
        </div>
    </div>
   
    {% if produits is null %}
        <p>Aucun produit trouvé pour cette catégorie.</p>
    {% else %}
        <h1 class="my-5 text-center">Produits de la catégorie <span style="color:var(--main);">{{ categorie.libelle }}</span></h1>

        <div class="container">
            <div class="row mb-5">
                {% for item in produits %}
                    <div class="col-12 col-md-4 d-flex justify-content-center gap-4">
                        <div class="main-content h-100 d-flex flex-column mb-4 align-items-stretch">
                            
                            {% if item.produit.promotion is not empty %}
                                <div class="flag-promo p-2 mb-3 text-center">
                                    <p style="margin:0; font-size:18px;">Promotions</p>
                                </div>
                                <div class="flag-percent">
                                    <span>{{ item.produit.Promotion.libelle }}</span>
                                </div>
                                <a href="{{ path('app_show_produit', { 'id': item.produit.id }) }}" class="text-center text-decoration-none flex-fill">
                                    <img src="{{ item.photos[0].urlPhoto }}" class="img-product p-2" alt="...">
                                    <p style="font-size:20px;">{{ item.produit.libelle }}</p>
                                    <div class="d-flex categorie-product justify-content-center mb-3 align-items-center">
                                        {% if item.produit.promotion is not empty %}
                                            <p class="old-price">{{ item.oldPrice }} €</p>
                                        {% endif %}
                                        <p class="new-price">{{ item.prixTTC }} €</p>
                                    </div>
                                </a>
                            {% else %}
                             {% if item.produit.id in newsProducts|map(produit => produit.produit.id) %}
                                <div class="flag-promo p-2 mb-3 text-center">
                                    <p style="margin:0; font-size:18px;">Nouveautés</p>
                                </div>
                            {% endif %}
                                <a href="{{ path('app_show_produit', { 'id': item.produit.id }) }}" class="text-center text-decoration-none d-flex flex-column align-items-center justify-content-end mb-4 flex-fill">
                                    <img src="{{ item.photos[0].urlPhoto }}" class="img-product p-2" alt="...">
                                    <p style="font-size:20px;">{{ item.produit.libelle }}</p>
                                    <div class="d-flex categorie-product justify-content-center mb-3 align-items-center">
                                        {% if item.produit.promotion is not empty %}
                                            <p class="old-price">{{ item.oldPrice }} €</p>
                                        {% endif %}
                                        <p class="new-price">{{ item.prixTTC }} €</p>
                                    </div>
                                </a>
                            {% endif %}
                            
                           
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}

