

{% extends 'base.html.twig' %}

{% block main %}
    <h1>Produits de la catégorie {{ categorie.libelle }}</h1>
    <div class="container-fluid">
    <div class='banner'>
    {% for photo in photos %}
    <img src="{{ photo.URLPhoto }}"  alt='test' class="h-100 d-inline-block" />
    </div>
    </div>
    {% endfor %}
    </div>
    {% if produits is null %}
        <p>Aucun produit trouvé pour cette catégorie.</p>
    {% else %}
        <ul>
            {% for item in produits %}
                <li><a href='{{ path('app_show_produit',{ 'id':item.id } ) }}'>{{ item.libelle }} {{ item.prixHt }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
