

{% extends 'base.html.twig' %}

{% block main %}
    <h1>Produits de la catégorie {{ categorie.libelle }}</h1>
    <div class="container-fluid">
    <div class='banner'>
    {% for photo in photos %}
    <img src="{{ photo.URLPhoto }}"  alt='test' class="h-100 d-inline-block" />

    </div>
    </div>
    {% endfor %}
    </div>
    {% if produits is null %}
        <p>Aucun produit trouvé pour cette catégorie.</p>
    {% else %}
    <div class="row">
     <div class="d-flex justify-content-center gap-5">
            {% for item in produits %}   
        <tr>
            <div class="card border p-3 bg-light d-flex flex-wrap align-items-center m-2 justify-content-center" style="width: 25rem; height: 25rem;">
                <img src="{% for photo in item.photos %} {{ photo.urlPhoto }} {% endfor %} " class="card-img-top" alt="..." style="width: 13rem; height: 13rem;">
                <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_produit_show_admin', { 'id': item.id })}}" class="card-text text-decoration-none">
                    <h5 class="card-title text-center">{{ item.libelle }}</h5>
                    <p class="card-text text-center">{{ item.prixHT }} €</p>
                </div>
                </a>
            </div>
             {% endfor %}
             </div>
             </div>
        </tr>

    {% endif %}
{% endblock %}
