{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    <h2>
        {{ title }} {{ cate.libelle }} 
    </h2>
    <h3> {{ cate.description }}</h3>
   <div class="container-fluid">
    <div class='banner'>
    {% for photo in photos %}
    <img src="{{ photo.URLPhoto }}"  alt='test' class="h-100 d-inline-block" />
    </div>
    </div>
    {% endfor %} 

<div class='card'>
{% for item in enfants %}
<a href='{{path('app_produit_categorie',{ 'id':item.id })}}'>{{ item.libelle }}</a><br>
{{ item.description }}
{% endfor %}
</div>


        
{% endblock %}