{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    <h2>
        {{ title }} {{ cate.libelle }} 
    </h2>
    <h3> {{ cate.description }}</h3>
    <div class='banner'>
    {% for item in photos %}
    <img src='{{ item.URLPhoto }}' alt='test' class='banner-item'/>
    {% endfor %} 
    </div>

<div class='card'>
{% for item in enfants %}
<a href='{{path('app_produit_categorie',{ 'id':item.id })}}'>{{ item.libelle }}</a><br>
{{ item.description }}
{% endfor %}
</div>


        
{% endblock %}