

<style>
    h1 {
        font-size: 18px;
        text-align: center;
        color: blue;
    }
    h2 {
        font-size: 14px;
        font-weight: bold;
    }

    p {
        font-size : 13px;
    }

    table {
        border: solid 1px black;
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }

    th{
        border: solid 1px black;
    }

    td{
        border: solid 1px black;
    }

    .destC {
        text-align: right;
        padding-bottom: 80px;
    }

    .date {
        text-align: right;
        padding-right: 30px;
    }
</style>

{% block main %}
{% for dataC in dataCommande %}
    {# Acheteur #}
    <div class="destC">
        <h2>Client<h2>
        <p>{{ dataC.users.prenom }} {{ dataC.users.nom}}</p>
        
            <p>{# {{ dataCommande.users.adresses.NumVoie }} {{ dataCommande.users.adresses.rue }} #}</p>
            {# {% if dataCommande.users.adresses.complement %}
                <p>{{ dataCommande.users.adresses.complement }}</p>
            {% endif %}
            <p>{{ dataCommande.users.adresses.code_postal.libelle}}</p>
            <p>{{ dataCommande.users.adresses.ville.libelle }}</p>
      
    </div> #}

    <h1>Devis | Commande n°{{dataC.id}}</h1>

    {# Produit #}
    {% for dataP in dataProduit %}
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{dataP.nomProduit}}</td>
                <td>{{dataP.nombreArticle}}</td>
                <td>{{dataP.prixProduit}} €</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
    {# Signature #}
   {#  <div class="date">
        {% for adresse in adresseP %}
            <p>Le 25/01/2023 à {{ adresse.ville }}</p>
            <p>Signature :</p>
        {% endfor %}
    </div> #}
    {% endfor %}
{% endblock %}