{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }} {{ commande.id }}</h2>
        <p>
            <br>Commande n° {{ commande.id }}</br>
            <br>Client n° {{ commande.users.id }}, {{ commande.users.nom }} {{ commande.users.prenom }}</br>
            <br>Panier n° {{ commande.panier.id }}</br>
            <br>Date de la commande : {{ commande.datecommande?commande.datecommande|date('Y-m-d') : ''  }}</br>
            Produits achetés :
            <ul>
                {% for panierProduit in commande.panier.panierProduits %}
                    <li>{{ panierProduit.produit.libelle }} - {{ panierProduit.produit.prixHt }}€ TTC</li>
                {% endfor %}
            </ul>
            <br>Total de la commande : {{ commande.prixttccommande }}€ TTC</br>
            <br>Addresse de livraison :  {{ commande.estLivre.numVoie }}  {{ commande.estLivre.rue }},  {{ commande.estLivre.ville.nom }}</br>
            <br>Addresse de facturation : {{ commande.estFacture.numVoie}} {{ commande.estFacture.rue}}, {{ commande.estFacture.ville.nom}}</br>
            <br>Moyen de paiement : {{ commande.paiement.libelle }}</br>
            <br>Mode de livraison : {{ commande.livraison.libelle }}</br>
            <br>Etat de la commande : {{ commande.etat.libelle }}</br>

        </p>

        <a href="{{ path('app_pdf_generator', {'id': commande.id}) }}">Télécharger le PDF</a>
{% endblock %}