{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if app.user %}
            <li class="breadcrumb-item"><a href="{{ path('app_user') }}">Information</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_commande_list') }}">Liste de vos commandes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Votre commande</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
        {% endif %}
    </ol>
</nav>
    <h2>{{ title }} {{ commande.id }}</h2>
        <p>
            <br>Commande n° {{ commande.id }}</br>
            <br>Client n° {{ commande.users.id }}, {{ commande.users.nom }} {{ commande.users.prenom }}</br>
            <br>Panier n° {{ commande.panier.id }}</br>
            <br>Date de la commande : {{ commande.datecommande?commande.datecommande|date('Y-m-d') : ''  }}</br>
            <p>Produits achetés : </p>
           
               
                {% for panierProduit in commande.Panier.PanierProduits %}
                    {% for photo in panierProduit.Produit.Photos %}
                    <img src="{{ photo.urlPhoto }}" alt="photo-produit" class="card-img-top" alt="..." style="width: 20rem; height: 20rem;">
                    {% endfor %}
                {% endfor %}
           
            
            <ul>
                {% for commandeArticle in commande.ligneDeCommandes %}
                    <li>Nom : {{ commandeArticle.nomProduit }} </li> 
                    <li>Quantité : {{ commandeArticle.nombreArticle }}</li>
                    <li>Prix : {{ commandeArticle.prixProduit }}€ HT</li>
                    <li>Taux de TVA : {{ commandeArticle.tauxTva }}% </li>
                    <li>Nombre d'articles :{{ commandeArticle.nombreArticle }} </li>
                    <li>Prix : {{ commandeArticle.prixTotal }}€ TTC </li>
                {% endfor %}
            </ul>
            <br>Total de la commande : {{ commande.prixttccommande }}€ TTC</br>
            <br>Addresse de livraison :  {{ commande.estLivre.numVoie }}  {{ commande.estLivre.rue }},  {{ commande.estLivre.ville.nom }}</br>
            <br>Addresse de facturation : {{ commande.estFacture.numVoie}} {{ commande.estFacture.rue}}, {{ commande.estFacture.ville.nom}}</br>
            <br>Moyen de paiement : {{ commande.paiement.libelle }}</br>
            <br>Mode de livraison : {{ commande.livraison.libelle }}</br>
            <br>Etat de la commande : {{ commande.etat.libelle }}</br>

        </p>
{% endblock %}