{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
  
    <table>
        

    {% for item in commande %}
   
        <tr>
            <td> cde n°{{ item.id }}, </td>
            <td>date :{{ item.datecommande?item.datecommande|date('Y-m-d H:i:s') : '' }}, </td>
            <td>client :{{ item.users.id }} {{ item.users.nom }} {{ item.users.prenom }}, </td>
            <td>panier n° {{ item.panier.id }}</td>
            <td>prix de la commande :{{ item.prixttccommande}} €TTC</td>
            <td><a href="{{ path('app_commande_show', { 'id': item.id })}}">Voir</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </table>
    <form>
        <input type='text' name='id' placeholder='recherchez par id' value='{{ id }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
{% endblock %}