{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th class="d-none d-md-table-cell">Commande</th>
                        <th>Date</th>
                        <th class="d-none d-md-table-cell">Panier</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in commande %}
                        <tr>
                            <td class="d-none d-md-table-cell">cde n°{{ item.id }}</td>
                            <td>{{ item.datecommande ? item.datecommande|date('Y-m-d') : '' }}</td>
                            <td class="d-none d-md-table-cell">panier n°{{ item.panier.id }}</td>
                            <td>{{ item.prixttccommande }} €TTC</td>
                            <td><a href="{{ path('app_commande_show', { 'id': item.id }) }}" class="btn button-nl p-1 btn-sm">Voir</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <form class="mt-4">
            <div class="form-group">
                <label for="searchId">Recherchez par ID</label>
                <input type='text' id="searchId" class="form-control" name='id' placeholder='Recherchez par ID' value='{{ id }}'>
            </div>
            {% if app.user %}
                <a href="{{ path('app_user') }}" class="btn btn-secondary">Retour</a>
            {% endif %}
            <button type="submit" class="btn button-nl p-2">Rechercher</button>
        </form>
    </div>
{% endblock %}
