{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>
        <div class="d-flex align-items-center my-3">
        <a href="{{ path('app_create_adresse') }}" class="btn btn-success">Créer</a>
        {% if app.user %}
        <a href="{{ path('app_user') }}" class="btn btn-secondary ml-2">Retour</a>
        {% endif %}
        </div>

        <!-- Adresses actives -->
        <h4>Adresses actives</h4>
        <div class="row mt-4">
            {% for item in adresses %} 
            {% if item.isActive %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <strong>Numero de voie:</strong> {{ item.numVoie }} <br>
                            <strong>Rue:</strong> {{ item.rue }} <br>
                            <strong>Complément:</strong> {{ item.complement }} <br>
                            <strong>Ville:</strong> {{ item.Ville.nom }} <br>
                            <strong>Code postal:</strong> {{ item.codePostal.libelle }} <br>
                            <strong>Département:</strong> {{ item.Ville.departement.nom }} </br>
                            <strong>Région:</strong> {{ item.Ville.departement.region.nom }} </br>
                            <div class="mt-3">
                                <a href="{{ path('app_show_adresse', { 'id': item.id }) }}" class="btn btn-primary mr-2 btn-sm">Voir</a>
                                <a href="{{ path('app_update_adresse', { 'id': item.id }) }}" style="background-color:var(--second);" class="btn btn-sm">Mettre à jour</a>
                                {% if item.EstLivre.contains(item) or item.EstFacture.contains(item) %}
                                    {{ include('user/delete.html.twig', { 'id': item.id }) }}
                                {% else %}
                                    <a href="{{ path('app_desactivate_adresse', { 'id': item.id }) }}" class="btn btn-danger ml-2 btn-sm">Désactiver</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% else %}
                <div class="col-12">
                    Aucun enregistrement actif.
                </div>
            {% endfor %}
        </div>

        <!-- Adresses inactives -->
        <h4>Adresses inactives</h4>
        <div class="row mt-4">
            {% for item in adresses %}
            {% if not item.isActive %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <strong>Numero de voie:</strong> {{ item.numVoie }} <br>
                            <strong>Rue:</strong> {{ item.rue }} <br>
                            <strong>Complément:</strong> {{ item.complement }} <br>
                            <strong>Ville:</strong> {{ item.Ville.nom }} <br>
                            <strong>Code postal:</strong> {{ item.codePostal.libelle }} <br>
                            <strong>Département:</strong> {{ item.Ville.departement.nom }} </br>
                            <strong>Région:</strong> {{ item.Ville.departement.region.nom }} </br>
                            <div class="mt-3">
                                <a href="{{ path('app_show_adresse', { 'id': item.id }) }}" class="btn btn-primary mr-2 btn-sm">Voir</a>
                                <a href="{{ path('app_update_adresse', { 'id': item.id }) }}" style="background-color:var(--second);" class="btn btn-sm">Mettre à jour</a>
                                <a href="{{ path('app_reactivate_adresse', { 'id': item.id }) }}" class="btn btn-info ml-2 btn-sm">Reactiver</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% else %}
                <div class="col-12">
                    Aucun enregistrement inactif.
                </div>
            {% endfor %}
        </div>

        <!-- Votre formulaire de recherche ici -->
    </div>
{% endblock %}
