{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
<div class="container mt-5 h-75">
    <div class="card  shadow-sm">
        <div class="card-body p-5">
            <h2 class="card-title mb-4">{{ title }}</h2>
            
            <div class="mb-3">
                <strong>Numero de voie:</strong> {{ adresse.numVoie }}
            </div>
            <div class="mb-3">
                <strong>Rue:</strong> {{ adresse.rue }}
            </div>
            <div class="mb-3">
                <strong>Complement:</strong> {{ adresse.complement }}
            </div>
            <div class="mb-3">
                <strong>Ville:</strong> {{ adresse.Ville.nom }}
            </div>
            <div class="mb-3">
                <strong>Code postal:</strong> {{ adresse.codePostal.libelle }}
            </div>
            <div class="mb-3">
                <strong>Département:</strong> {{ adresse.Ville.departement.nom }}
            </div>
            <div class="mb-4">
                <strong>Région:</strong> {{ adresse.Ville.departement.region.nom }}
            </div>
            
            <a href="{{ path('app_update_adresse', { 'id' : adresse.id }) }}" class=" btn button-nl">Mettre à jour</a>
            
            {% if app.user %}
                <a href="{{ path('app_list_adresse') }}" class="btn btn-md btn-secondary ml-2">Retour</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
