{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<section class="section-info-user">
    <div class="container  mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8"> <!-- Utilisez col-md-8 pour une largeur maximale de 600px sur les écrans moyens et plus petits -->
            
                <h2 class="text-center mb-4">{{ title }}</h2>
                {{ form_start(form, {'attr': {'class': 'mb-4 p-4 d-flex flex-column form-user align-items-center justify-content-center'}}) }}

                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    {{ form_label(form.newPassword, 'Nouveau mot de passe', {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.newPassword, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    <div class="text-center my-3"> <!-- Centrer le bouton d'envoi -->
                        <input type='submit' name='créer' class="button-nl">
                    </div>

                    <a href="{{path( 'app_list_adresse' )}}" style="color: var(--main);"> Vos adresses de livraison </a>

                {{ form_end(form) }}
            </div>
        </div>
        {% if app.user %}
            <a href="{{ path('app_user') }}" class="btn btn-secondary">Retour</a>
        {% endif %}
    </div>
</section>
{% endblock %}

